<div id="tab_plugin_tabiframe" class="tabiframe-container">
    <div class="tabiframe-toolbar">
        <button class="btn btn-small" data-bind="click: refreshIframe" title="Refresh iframe">
            <i class="fa fa-refresh"></i> Refresh
        </button>
    </div>
    <iframe id="tabiframe_iframe" data-bind="attr: {src: tabUrl}"
            frameborder="0">
    </iframe>
</div>

